<h3>Search</h3>

<%= form_tag points_search_path %>

<%= number_field_tag :latitude , '', 'step'=>'any' %>
<%= number_field_tag :longitude , '', 'step'=>'any' %>
<%= submit_tag "Search"  %>


<div>
  <h3>Data</h3>
<%= flash[:notice] %>
<table>
  <thead>
  <tr>
    <th>Point</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  </thead>
  <tbody>
  <% @points.each do |point| %>
      <tr>
        <td><%= point.point %></td>
        <td><%= point.latitude %></td>
        <td><%= point.longitude %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
